{
  "env": {
    "browser": false,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": "eslint:recommended",
  "rules": {
    "camelcase": "warn",
    "curly": "error",
    "block-scoped-var": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "newline-before-return": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-return-await": "error",
    "no-shadow": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "prefer-template": "warn"
  }
}
